@{
    ViewBag.Title = "Ads";
}

@section scripts{
    <script src="~/Scripts/App/Ads/main.js"></script>
}

<div id="tabs">
    <ul>
        <li><a href="#tabs-1">Sample 1</a></li>
        <li><a href="#tabs-2">Sample 2</a></li>
        <li><a href="#tabs-3">Sample 3</a></li>
        <li><a href="#tabs-4">Sample 4</a></li>
    </ul>

    <div id="tabs-1">
        <table id="sample1" class="display" width="100%"></table>
    </div>
    <div id="tabs-2">
        <table id="sample2" class="display" width="100%"></table>
    </div>
    <div id="tabs-3">
        <table id="sample3" class="display" width="100%"></table>
    </div>
    <div id="tabs-4">
        <table id="sample4" class="display" width="100%"></table>
    </div>
</div>